@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
  * {
    box-sizing: border-box;
  }


body {
    margin: 0 0;
    height: 100vh;
    background-color: blue;
    min-width: 320px;
    max-width: 425px;
    min-height: 100vh; 
  }

  .container {
    margin: auto;
  }
  
  .Main {
    min-width: 320px;
    max-width: 425px;
    min-height: 100vh; 
    margin: auto;
    background-image: url(./images/mobile/image-header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    font-family: 'Barlow', sans-serif;
  }
 
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
    align-items: center;
    padding: 20px 20px;
  }
  
  header .logo {
    display: flex;
    align-content: center;
    color: white;
  }
  
  .logo-image {
    height: fit-content;
    /*margin-top: 10px;*/
  }

  .hero-section {
   text-align: center;
   margin: 0 0;
  }

  .hero-text {
     width: 100%;
     text-align: center;
   } 

  .hero-text h1 {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    padding: 70px 0;
    color: #fff;
    font-size: 40px;
    line-height: 2em;
    letter-spacing: 0.5rem;
  }

  .hero-pics img {
  padding-top: 50px; 
 
  }

  img .arrow {
    width: 20px;
  }

  .hero-text h3 {
     font-size: 30px;
     /* font-family: 'Barlow', sans-serif; */
     font-family: 'Fraunces', serif;
   }
 
   .hero-text p  {
   padding: 50px; 

   }
 
  .hero-brand{
    margin: 0 0; 
    background-color: #fff;
  }

  .yellow-picture {
    width: 100%;
    height: 50%;
  }

  .hero-text .btn {
    padding: 15px;
    border-radius: 10%;
    border-style: none;
  }

  .berry-text {
    width: 100%;
    text-align: center;
  }

  .graphics-design {
    width: 100%;
    height: 100vh;
    background-image: url(./images/mobile/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    padding-top: 20px;
  }

  .graphics-design h2{
    align-items: center;
    position: relative;
    top:350px ;
    padding-top: ;
    font-size: 30px;
    font-family: 'Fraunces', serif;
  }

  .graphics-design  p{
    text-align: center;
    position: relative;
    top:350px ;
    padding: 0 30px;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
  }

  .photography {
    width: 100%;
    height: 100vh;
    background-image: url(./images/mobile/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .photography h3{
    text-align: center;
    position: relative;
    top:400px ;
  /* padding-top: 400px;  */
    padding-left: 0px;
    font-size: 30px;
    font-family: 'Fraunces', serif;
    
  }

  .photography p{
    text-align: center;
    position: relative;
    top: 400px;
    padding: 0 50px; 
    font-size: 13px;
    font-family: 'Barlow', sans-serif;
  }

 
  .testimonial-section {
    padding-top: 5px;
    background-color: #fff;
    text-align: center;
  }


  .testimonial-profile p{
     font-family: 'Barlow', sans-serif;
     padding:0 60px; 
     color:  hsl(200, 1%, 43%);
  }

  .space{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 20px 0;
    color:  hsl(214, 9%, 84%);
  }

  .small {
    font-size: 12px;
    color:  hsl(210, 4%, 67%);
  }

  .Client {
    border-radius: 50%;
    width: 20% ;
  }

  .two-pics {
    display: flex;
  }

  .two-pics img {
    width: 50%;
  }

  .two-pic img {
    width: 50%;
  }

  .two-pic {
    display: flex;
  }

  footer {
    background-color:#0BC3FF ; 
    padding-top: 30px;
    padding-bottom: 30px;
  }

 .logo-text{
   padding-top: 10px;
    color: hsl(167, 40%, 24%);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  } 

  nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
   color:hsl(167, 40%, 24%) ; 
  }

  ul li{
    display: flex;
    padding: 5px;
  }

  .social-media {
    padding: 10px;
    text-align: center;
  }
  .media-pic {
    padding: 10px;
  }

  

  
  

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); } 

  